.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

h1 {
  text-align: center;
}

table {
  width: 80%;
  margin: 10px auto;
}

td,
th {
  text-align: center;
}
